html, body {
  background-color: #0b2633;
  color: #f8f9fa;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#root {
  background-color: #0e181d;
  min-height: 100vh;
  color: #fff
}

h1, h2, h3, h4, h5, h6, p, a, label {
  color: #fff;
  margin-bottom: 1rem;
}


a:not(.nav-link) {
  color: #0dcaf0;  
  text-decoration: none;
}

a:not(.nav-link):hover {
  color: #31d2f2;
  text-decoration: underline;
}


.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}



.cards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 2rem;
}
